@text-color: #222;
@first-background-color: #f5f5f5;
@border-color: #999;

@color: #881f31;
@secondary-color: #008A9A;
@color1: #444;
@color3: #d2d8d9;


.rounded-corners (@radius: 15px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

.ar {
    direction: rtl;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 10pt;
    text-align: center; /* pr IE6 */
    background-color: #eee;
    font-weight: 300;
}


a {
    text-decoration: none;
    color: #000;
}

strong {
    font-weight: 600;
}

h1 {
    font-size: 21px;
    margin-bottom: 20px;
    color: #939393;
    font-weight: 400;
}

h2 {
    margin: 10px 0 5px;
}

ul {
    list-style: square;
    list-style-position: inside;
    margin-bottom: 10px;
    li {
        line-height: 25px;
        text-align: justify;
    }
}

p {
    margin-bottom: 10px;
    line-height: 25px;
    text-align: justify;
}

.center {
    width: 1000px;
    margin: auto;
    text-align: left;
    position: relative;
}

.ar .center {
    text-align: right;
}


.separator-top {
    margin-top: 20px;
}

.separator-bottom {
    margin-bottom: 20px;
}

.spacer-bottom {
    margin-bottom: 10px;
}

.content {
  overflow: hidden;
}

.contenu {
    float: left;
    width: 668px;
}

.ar .contenu {
    float: right;
}

.sidebar {
    float: right;
    width: 300px;
    overflow: hidden;
}

.ar .sidebar {
    float: left;
}


.colored {
    color: #008a9b;
}

.clear {
    clear: both;
}

/* ------------- Dyalna Header ----------------------------------------*/
#dyalna-header {
    background: @first-background-color;
    border-bottom: 1px solid #ddd;

    .center {
        position: relative;
        padding: 20px 0;
        line-height: 25px;
    }

    #logo
    {
        float: left;

        a {
            display: block;
            background: url(../images/logo.png) no-repeat;
            padding-left: 30px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 22px;

            em {
                font-weight: 300;
                font-style: normal;
            }
        }
    }

    #slogan
    {
        float: left;
        margin-left: 40px;
        color: #999;
        font-size: 14px;
    }


    #switch-locale {
        float: left;
        z-index: 100;

        a {
            margin-bottom: 3px;
            display: none;
            text-align: center;
            width: 28px;
            height: 28px;
            line-height: 28px;
            background: #ddd;
            .rounded-corners(5px);

            &.current {
                display: block;
            }
        }
    }

    #dyalna-menu {
        position: absolute;
        right: 0;
        top: 0;

        a {
            display: block;
            float: right;
            padding: 20px 0 34px;
            font-size: 14px;
            color: #939393;
            margin-left: 30px;
            min-width: 30px;
            text-align: center;

            &.current, &:hover {
                color: #000;
                background: url(../images/arrow.png) 50% 100% no-repeat;
            }
        }
    }
}


/*-------------- Global Layout -------------------------------------- */
#layout {
    background-color: #FFF;
    padding-bottom: 50px;
}

header {
    position: relative;
    margin-top: 40px;
}

.content {
    overflow: hidden;
}

/* --------------------- Pager -------------------------- */
.rizeway-pager {
    margin-top: 25px;
    display: block;
    width: 100%;
    height: 34px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #eee;
    background: #f2f2f2;
    color: #999;
    text-shadow: 2px 1px 2px #fff;
    &:hover {
        color: #666;
        text-decoration: none;}

    .selected {
        text-indent: -1000px;
        overflow: hidden;
        background: url(../images/ajax-loader.gif) no-repeat center center #eee;
    }
}

.rizeway-separator {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 1px dotted #999;
}

/* --------------------- Formulaires ----------------- */
.formated_form {
    label {
        line-height: 25px;
    }

    input {
        width: 200px;
        line-height: 20px;
        border: 1px solid @color3;
        background: @first-background-color;
        margin-bottom: 5px;
        padding: 5px;
        font-family: 'Titillium Web', sans-serif;
    }

    textarea {
        width: 300px;
        height: 150px;
        border: 1px solid @color3;
        background: @first-background-color;
        margin-bottom: 5px;
        padding: 5px;
        font-family: 'Titillium Web', sans-serif;
    }

    select {
        line-height: 20px;
        height: 30px;
        border: 1px solid @color3;
        background: @first-background-color;
        margin-bottom: 5px;
        padding: 5px;
        font-family: 'Titillium Web', sans-serif;
    }

    .submit {
        background: #008a9a;
        padding: 5px;
        color: #FFF;
        text-transform: uppercase;
        font-size: 10pt;
        width: auto;
        height: auto;
        font-family: 'Titillium Web', sans-serif;
        &:hover {
            background: #000;
            cursor: pointer;}
    }
}

/* Alertes --------------------------------------------- */
.alert {
    .rounded-corners(5px);
    border: 1px solid #ccc;
    background-color: #eee;
    line-height: 27px;
    padding: 4px 10px;
    margin-bottom: 10px;

    &.alert-success {
        color: #468847;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    &.alert-error {
        color: #b94a48;
        background-color: #f2dede;
        border-color: #eed3d7;
    }

    &.alert-info {
        color: #3a87ad;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

    &.alert-notice {
        color: #C09853;
        border-color: #FBEED5;
        background-color: #FCF8E3;
    }
}

.close {
    float: right;
    display: block;
    font-size: 20px;
    color: #666;
    &:hover {
        color: #000;
    }
    cursor: pointer;
}

.ar .close {
    float: left;
}

/* Titre de la page ------------------------------------ */

.title_page {
    margin-bottom: 20px;
}

/* Icons ----------------------------------------------- */
.ar .small-icon {
    float: right;
}

.small-icon {
    display: block;
    width: 18px;
    height: 18px;
    float: left;

    &.home-icon {
        background: url(../images/icons/home.png);
    }

    &.twitter-icon {
        background: url(../images/icons/twitter.png);
    }

    &.facebook-icon {
        background: url(../images/icons/facebook.png);
    }

    &.google-icon {
        background: url(../images/icons/google.png);
    }

    &.linkedin-icon {
      background: url(../images/icons/linkedin.png);
    }

    &.feed-icon {
        background: url(../images/icons/feed.png);
    }

    &.time-icon {
        background: url(../images/icons/time.png);
    }
}

/* Footer ------------------------------------------- */
footer {
    background: white;
    overflow: hidden;
    text-align: center;
    font-size: 13px;

    #social_network {
        float: left;
    }

    h3 {
        color: #008a9a;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 30px;
    }
}

.ar #social_network {
    float: right;
}

#social_network a, .menu-footer a, #dyalna a {
    display: block;
    line-height: 18px;
    color: #777;
    margin-bottom: 10px;
}

#social_network a {
    .small-icon {
        margin-right: 10px;
        opacity: 0.5;
    }

    &:hover {
        .small-icon {
            opacity: 1;
        }
    }
}

.ar #social_network a .small-icon {
    margin-left: 10px;
    margin-right: 0;
}

.menu-footer {
    float: left;
    margin-left: 140px;
}

.ar .menu-footer {
    float: right;
    margin-right: 140px;
    margin-left: 0;
}

#footer-top {
    text-align: left;
    background: @first-background-color;
    padding: 20px 40px 10px;
    overflow: hidden;
}

.ar #footer-top {
    text-align: right;
}

#footer-bottom {
    padding: 14px 0 10px;
    overflow: hidden;
    background: #eee;
}

#rizeway {
    text-align: center;
    color: #777;
    float: right;
}

.ar #rizeway {
    float: left;
}

#copyright {
    float: left;
    color: #777;
    line-height: 25px;
}

.ar #copyright {
    float: right;
}

/* ----------- Search Form ------------------------------------------ */
#search-form {
    input {
        font-size: 10pt;
        background: url(../images/loupe.png)  no-repeat @first-background-color 270px;
        height: 15px;
        line-height: 15px;
        border: 1px solid @color3;
        padding: 10px 35px 10px 10px;
        color: #858b8c;
        text-shadow: none;
        width: 253px;
        font-weight: 300;
        font-family: 'Titillium Web', sans-serif;
    }

    margin-bottom: 20px;
}

.ar #search-form input {
    padding: 10px 10px 10px 35px;
    background: url(../images/loupe.png)  no-repeat @first-background-color 10px;
}

/* ------------ Posts ----------------------------------------------- */
.post-une {
    position: relative;
    height: 335px;

    .metadata {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 100;
    }

    img {
        position: absolute;
        border: 1px solid @border-color;
    }

    .post-description {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #FFF;
        background: url(../images/gray-bg.png);

        h2 {
            font-size: 20px;
            font-weight: 400;
            padding: 15px;

            a {
                color: #FFF;
            }
        }
        p {
            padding: 0 15px 15px;
        }
    }
}

.ar .post-une .metadata {
    right: auto;
    left: 10px;
}

.video_post, .single-post {

    .metadata {
        margin-top: 4px;
        line-height: 22px;
        float: right;
    }
}

.ar .video_post .metadata, .ar .single-post .metadata {
    float: left;
}

.single-post {

    &.odd .post-content img {
        float: left;
        margin-right: 20px;
        border: 1px solid @border-color;
    }
}

.ar .single-post.odd .post-content img {
    float: left;
    margin-right: 0px;
    margin-left: 20px;
}

.post {
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px;

    .metadata {
        margin-top: 4px;
        line-height: 22px;
        float: right;
    }

    &.even .post-content img {
        float: right;
        margin-left: 20px;
        border: 1px solid @border-color;
    }

    &.odd .post-content img {
        float: left;
        margin-right: 20px;
        border: 1px solid @border-color;
    }

    &.odd {
        background: #f9f9f9;
    }

    .post-content p {
        margin-top: 8px;
    }

    h2 {
        margin: 0;
    }
}

.ar .post {

    .metadata {
        float: left;
    }

    &.even .post-content img {
        float: left;
        margin-left: 0;
        margin-right: 20px;
    }

    &.odd .post-content img {
        float: right;
        margin-right: 0;
        margin-left: 20px;
    }
}

.post_row {

    overflow: hidden;
    padding: 10px;
    margin-top: 20px;

    &.odd {
        background: #f9f9f9;
    }

    .post-half {
        width: 308px;
        overflow: hidden;

        img {
            border: 1px solid @border-color;
            margin-bottom: 10px;
        }

        &.odd {
            float: right;
        }

        &.even {
            float: left;
        }

        .metadata {
            line-height: 22px;
            float: right;
        }

        h2 {
            height: 54px;
        }
    }
}

.ar .post_row {
    .post-half {

        &.odd {
            float: left;
        }

        &.even {
            float: right;
        }

        .metadata {
            float: left;
        }
    }
}

.metadata {
    width: 120px;
    font-size: 11px;

    .source, .twitter, .facebook, .time, .linkedin {
        float: right;
        margin-left: 10px;
        cursor: pointer;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    a:hover {
        color: @secondary-color;
    }
}

.ar .metadata {
    .source, .twitter, .facebook, .time, .linkedin {
        float: right;
        margin-right: 10px;
        margin-left: 0;
    }
}

.show-more {
    display: block;
    margin-top: 20px;
    color: @color;

    &:hover {
        color: black;
    }
}


.post h2 a, .title_page, .post-half h2 a {
    font-size: 18px;
    font-weight: 400;
    color: @color;
}

.post-content {
    margin-top: 15px;
    overflow: hidden;
}

.post-content p {
    color: @text-color;
    line-height: 25px;
    text-align: justify;
}

.post-content p a {
    color: @color;
}

.post_admin_bar {

    background: #E8F6F8;
    padding: 10px;

    a {
        &:hover {text-decoration: underline;}
    }

    form {
        .deposerBtn {
            float: right;
        }
    }
}


/* ---------- Tables ------- */

.formated_table {
  width:100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px  solid #eee;
  color: #666;

  thead tr {

    th {
      background: #f3f3f3;

      &.info-column {
        width: 30px;
      }
    }
  }

  td, th {
    height: 15px;
    padding: 5px;
  }

  tbody th {
    background: #f3f3f3;
  }

  td.row-header {
    min-width: 130px;
    padding-right: 20px;
    font-weight: bold;
  }

  td.section-header {
    background: #ddd;
  }
}

.table-striped tbody tr:nth-child(odd) td.section-header, .table-striped tbody tr:nth-child(odd) th.section-header {
  background: #ddd;
}
