<a href="http://video.dyalna.com" {% if current=="videos" %}class="current"{% endif %} title="{{ 'videos.title'|trans }}">{{ 'Videos'|trans }}</a>
<a href="http://jobs.dyalna.com" {% if current=="jobs" %}class="current"{% endif %} title="{{ 'jobs.title'|trans }}">{{ 'Jobs'|trans }}</a>
<a href="http://bloginy.com" {% if current=="bloginy" %}class="current"{% endif %} title="{{ 'bloginy.title'|trans }}">{{ 'Bloginy'|trans }}</a>
<a href="http://dyalna.com" {% if current=="dyalna" %}class="current"{% endif %} title="{{ 'news.title'|trans }}">{{ 'News'|trans }}</a>
