<!DOCTYPE html>
<html lang="{{ app.request.locale }}" {% block xmlns %}{% endblock %}>
<head>
    <title>{% block title %}Dyalna{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
 
    {% block stylesheets %}
        <link rel="stylesheet/less" href="{{ asset('bundles/rizewaydyalnaui/less/layout.less') }}" />
    {% endblock %}
    
    {% block js %}
        <script src="{{ asset('bundles/rizewaydyalnaui/js/less.js') }}"></script>
        <script src="{{ asset('bundles/rizewaydyalnaui/js/jquery-1.7.1.min.js') }}"></script>
    {% endblock %}

    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    {% block head %}{% endblock %}
       
   <!--[if IE]>
        <script src="{{ asset('bundles/rizewayui/js/fix/html5shiv.js') }}"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="{{ asset('bundles/rizewayui/js/fix/IE9.js') }}"></script>
    <![endif]-->

</head>
<body {% block body_class %}{% endblock %}>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=416046911798994";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    {% block top %}{% endblock %}

    <div id="layout">
        <div id="dyalna-header">
            <div class="center">
                <div id="logo">{% block logo %}{% endblock %}</div>
                <div id="slogan">{% block slogan %}{% endblock %}</div>
                <div id="dyalna-menu">
                    {% block dyalna_header %}
                        {% include "RizewayDyalnaUIBundle:Utils:_dyalna_header.html.twig" with {'current':'dyalna'} %}
                    {% endblock %}
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <header>
            <div class="center">
                {% block subheader %}{% endblock %}
            </div> 
        </header>

        <div class="center">
            <div class="content">
                {% block content %}
                {% endblock %}  
            </div>
        </div>
    </div>

    {% block footer %}{% endblock %}

    {% block analytics %}{% endblock %}
    
</body>
</html>
